<!--<header id="idena-header" class="">
    <div>

        <section id="links" data-gn-i18n="">
            <section class="language-links" data-no-cb="">
                <a class="es-link tc-active" href="?lang=es" title="Ver en castellano">es</a><a class="eu-link" href="?lang=eu" title="Euskaraz ikusi">eu</a><a class="en-link" href="?lang=en" title="View in English">en</a>
            </section>
            <section id="help">
                <a target="_blank" href="pdf/manual.pdf" title="Ver ayuda" id="help-link"><span>Ver ayuda</span></a>
            </section>
            <section id="contact">Contacto: <a href="mailto:idena@navarra.es?cc=webmaster.idena@tracasa.es">idena@navarra.es</a></section>
        </section>
        <h1>
            <a href="http://idena.navarra.es/">
                <img src="layout/idena/img/logo-alargado.gif">
                <span style="display: none">Infraestructura de <em>Datos Espaciales de Navarra</em></span>
            </a>
        </h1>
    </div>
</header>-->
<section id="tools-panel" class="slide-panel right-panel tools-panel right-collapsed">
    <h1 id="tools-tab" title="{@i18n $key=" layers"/}">{@i18n $key="layers"/}</h1>
    <div class="panel-content">
        <section class="language-links" data-no-cb>
            <a class="es-link" href="?lang=es" title="Ver en castellano">es</a><a class="en-link" href="?lang=en" title="View in English">en</a><a class="ca-link" href="?lang=ca-CA" title="Veure en Català">ca</a>
        </section>
        <div id="search"></div>
        <div id="bms" class="tc-collapsed"></div>
        <div id="toc" class="tc-collapsed"></div>
        <div id="catalog" class="tc-collapsed"></div>
        <div id="xdata" class="tc-collapsed"></div>
    </div>
</section>
<section id="tools-panel2" class="slide-panel right-panel tools-panel tools-panel2 right-collapsed">
    <h1 id="tools-tab2" title="{@i18n $key=" tools"/}">{@i18n $key="tools"/}</h1>
    <div class="panel-content2">
        <div id="measure" class="tc-collapsed"></div>
        <div id="print" class="tc-collapsed"></div>
        <div id="download" class="tc-collapsed"></div>
        <div id="share" class="tc-collapsed"></div>
        <div id="geolocation" class="tc-collapsed"></div>
        <div id="offline" class="tc-collapsed"></div>
        <div id="threed" class="tc-collapsed"></div>
    </div>
</section>
<section id="legend-panel" class="slide-panel left-panel legend-panel left-collapsed" data-no-cb>
    <h1 id="legend-tab" title="{@i18n $key=" legend"/}">{@i18n $key="legend"/}</h1>
    <div class="panel-content">
        <div id="legend"></div>
    </div>
</section>
<section id="ovmap-panel" class="slide-panel right-panel ovmap-panel right-collapsed" data-no-cb>
    <h1 id="ovmap-tab" title="{@i18n $key=" overviewMap.tooltip"/}">{@i18n $key="overviewMap"/}</h1>
    <div id="ovmap"></div>
</section>
<div id="coordinates" class="tc-hidden"></div>
