@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.tc-ctl-attrib
{
    display: none;
}
.tc-map
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
input[type=range] {
    margin: 0px;
    width: 100%;
    padding: 0px;
    -webkit-appearance: none;
    background-color: #fff;
    background-color: #999;
    height: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
}
input[type=range]:focus {
    outline: none;
}
/* CORDENADAS-----------------------------------------------*/
.tc-ctl-coords {
    position: absolute;
    left: 0px;
    top: auto;
    bottom: 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(255,255,255,0.9);
    z-index: 9999;
    font-family: Arial,helvetica,sans-serif;
    font-size: 0.6em;
    padding: 5px !important;
    padding-left: 10px !important;
    color: #fff;
    color: #000;
    width: 305px;
    border-top-right-radius: 6px;
    opacity: 0.3;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.tc-ctl-coords:hover {
    opacity: 1;
}
.tc-ctl-coords-x, .tc-ctl-coords-y, .tc-ctl-coords-crs
{
    color: #fff;
    color: #000;
}
button.tc-ctl-coords-crs {
    border: 1px solid #fff;
    border: 1px solid #000;
    border-radius: 0px;
    background-color: transparent;
    padding: 2px;
    margin-right: 2px;
}
/* BOTONES DE ZOOM----------------------------------------------------*/
.tc-ctl {
    padding: 0px;
}
.tc-ctl.tc-ctl-nav
{
    top: 84px;
    left: 20px;
}
.tc-ctl-sv
{
    position: absolute;
}
.tc-ctl-nav .tc-ctl-nav-btn, .tc-ctl-sv-btn, .tc-ctl-be-btn, button.tc-ctl-fscreen-btn
{
    width: 40px;
    height: 40px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}
button.tc-ctl-fscreen-btn.tc-active
{
    background-color: #7A8500;
}
button.tc-ctl-fscreen-btn.tc-active:hover{
    background-color: rgb(94, 102, 0);
}
.tc-ctl-sv-btn {
    left: 20px;
    top: 338px;
    margin-top: 0px;
    background-color: rgba(0, 106, 54, 0.8);
}
.tc-ctl-be-btn {
    left: 20px;
    top: 380px;
    margin-top: 0px;
    background-color: rgba(0, 84, 106, 0.8);
}
.tc-ctl-sv-btn:hover {
    background-color: rgba(0, 106, 54, 1);
}
.tc-ctl-be-btn:hover {
    background-color: rgba(0, 84, 106, 1);
}
.tc-ctl-fscreen {
    left: 20px;
    top: 210px;
    margin-top: 0px;
    width: auto;
}
button.tc-ctl-fscreen-btn
{
    background-image: url(img/mapaAmpliar.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
}
#legend-tab
{
    top: 442px;
}
#ovmap-tab
{
    top: 484px;
}
.tc-ctl-fscreen button:after {
    content: '';
}
.tc-ctl-nav .tc-ctl-nav-btn-zoomin {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 2px;
    background-image: url(img/mapaMas.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
}
.tc-ctl-nav .tc-ctl-nav-btn-zoomout{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-image: url(img/mapaMenos.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
}
.tc-ctl-nav .tc-ctl-nav-btn-home
{
    background-image: url(img/mapaHome.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    top: -8px;
}
.tc-ctl-nav .tc-ctl-nav-btn-zoomin:after, .tc-ctl-nav .tc-ctl-nav-btn-zoomout:after, .tc-ctl-nav .tc-ctl-nav-btn-home:after {
    content: ' ';
}
.ol-zoom-extent {
    top: 86px;
}
/* ESCALA ----------------------------------------------------*/
.tc-ctl-sb, .tc-ctl-scl
{
    top:auto;
    left:auto;
    right: 0px;
    bottom: 0px;
    color: #fff;
    color: #000;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(255,255,255,0.9);
    border: 0px;
    border-radius: 0px;
    border-top-left-radius:6px;
    opacity: 1;
    font-size: 0.6em;
    padding: 5px !important;
    padding-right: 10px !important;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.tc-ctl-sb .ol-scale-line .ol-scale-line-inner {
    border: solid 2px #fff;
    border-top: 0;
    color: #fff;
    color: #000;
}
.tc-ctl-scl input, .tc-ctl-ss input {
    background: #fff;
    border: 1px #333 solid;
    color: #333;
    font-size: 0.8em;
    display: inline;
    vertical-align: baseline;
    line-height: 1.5em;
    cursor: pointer;
    padding: 2px;
    margin-right: 2px;
}
/*-----------------------------------------------------*/
.slide-panel > h1{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0px;
    margin: 0px;
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 9998;
}
.right-panel > h1{
    right: 390px;
    transition: right 200ms;
}
.left-panel > h1, .left-panel .tc-ctl.tc-ctl-nav, .left-panel .tc-ctl-sv-btn, .left-panel .tc-ctl-be-btn, .left-panel .tc-ctl-fscreen {
    left: 340px;
    transition: left 200ms;
}
.silme-panel > h1
{
    top:274px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
}
.tools-panel > h1
{
    top:20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-image: url(img/mapaCerrar.png);
    background-color: rgba(0, 0, 0, 1);
}
.right-collapsed > h1
{
    right: 20px;
    transition: right 200ms;
    background-image: url(img/mapaCapas.png);
    background-color: rgba(0, 0, 0, 0.8);
}
.slide-panel > h1:hover, .tc-ctl-nav .tc-ctl-nav-btn-zoomin:hover, .tc-ctl-nav .tc-ctl-nav-btn-zoomout:hover, .tc-ctl-nav .tc-ctl-nav-btn-home:hover, button.tc-ctl-fscreen-btn:hover{
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
}
.left-collapsed > h1, .left-collapsed .tc-ctl.tc-ctl-nav, .left-collapsed .tc-ctl-sv-btn, .left-collapsed .tc-ctl-be-btn, .left-collapsed .tc-ctl-fscreen
{
    left: 20px;
    transition: left 200ms;
}
.panel-content
{
    position: absolute;
    top: 20px;
    bottom: 48px;
    width: 320px;
    background-color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255,255,255,0.9);
    z-index: 9999;
    color: #fff;
    color: #666;
    font-size: 0.9em;
    overflow: auto;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.right-panel > .panel-content
{
    right: 0px;
    transition: right 200ms;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    width: 370px;
}
.left-panel > .panel-content
{
    left: 0px;
    transition: left 200ms;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.right-collapsed > .panel-content
{
    right: -390px;
    transition: right 200ms;
}
.left-collapsed > .panel-content
{
    left: -340px;
    transition: left 200ms;
}
#tools-panel > .panel-content {
    max-height: inherit !important;
}
#legend, #measure, #share, #download, #localitzar, #ovmapH2
{
    display: none;
}
.left-collapsed-legend #legend
{
    display: block;
}
.left-collapsed-ovmap #ovmap, .left-collapsed-ovmap #ovmapH2
{
    display: block;
}
.left-collapsed-silme #measure, .left-collapsed-silme #share, .left-collapsed-silme #download, .left-collapsed-silme #localitzar
{
    display: block;
}
#measure.tc-collapsed > div, #share.tc-collapsed > div, #download.tc-collapsed > div, #localitzar.tc-collapsed > div, #bms.tc-collapsed > div, #toc.tc-collapsed > div, #catalog.tc-collapsed > div, #xdata.tc-collapsed > div
{
    display: none;
}
.tc-ctl-meas-select {
    margin-bottom: 0;
}
.tc-ctl-sv-drag, .tc-ctl-be-drag, .tc-ctl-be-btn.tc-checked, .tc-ctl-sv-btn.tc-checked {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
}
.tc-ctl-sv-drag, .tc-ctl-sv-btn.tc-checked {
    background-image: url(img/mapaSV.png);
}
.tc-ctl-be-drag, .tc-ctl-be-btn.tc-checked {
    background-image: url(img/mapaBirdEye.png);
}

.tc-ctl-sv-btn.tc-checked .tc-ctl-sv-drag
{
    background-image: url(img/mapaSVH.png);
}
.tc-ctl-be-btn.tc-checked .tc-ctl-be-drag
{
    background-image: url(img/mapaBirdEyeH.png);
}

.left-panel #legend-tab
{
    background-image: url(img/mapaLeyenda.png);
}
.left-panel #silme-tab
{
    background-image: url(img/mapaTools.png);
}
.left-panel #ovmap-tab
{
    background-image: url(img/mapaOvmap2.png);
}
.left-collapsed-legend #legend-tab
{
    background-image: url(img/mapaCerrar.png);
    background-color: rgba(0, 0, 0, 1);
    /*box-shadow: 0px 0px 0px 2px rgba(201, 219, 3, 0.8);*/
    background-color: #7A8500;
    transition: all 200ms;
}
.left-collapsed-silme #silme-tab
{
    background-image: url(img/mapaCerrar.png);
    background-color: rgba(0, 0, 0, 1);
    /*box-shadow: 0px 0px 0px 2px rgba(201, 219, 3, 0.8);*/
    background-color: #7A8500;
    transition: all 200ms;
}
.left-collapsed-ovmap #ovmap-tab
{
    background-image: url(img/mapaCerrar.png);
    background-color: rgba(0, 0, 0, 1);
    /*box-shadow: 0px 0px 0px 2px rgba(201, 219, 3, 0.8);*/
    background-color: #7A8500;
    transition: all 200ms;
}
.tc-ctl-legend, .tc-ctl-meas, .tc-ctl-share, .tc-ctl-download, .tc-ctl-bms, .tc-ctl-wlm, .tc-ctl-lcat, .language-links, .tc-ctl-dmm, .tc-ctl-localitzar, .tc-ctl-tctr
{
    padding: 0px;
}
.tc-ctl-ovmap {
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: auto;
    height: 300px;
    padding: 0;
}
#bms {
    padding-top: 0px;
}
.tc-ctl-localitzar .tc-ctl-localitzar {
    padding: 0px;
    padding-top: 10px;
    color: #fff;
}
.tc-btn-localitza {
    background-color: #7A8500;
    color: #fff;
    border-radius: 6px;
    border:0px;
    height: 29px !important;
}
.tc-combo-localitza {
    width: 215px !important;
}
.tc-ctl-geolocation-select, .tc-ctl-tctr-select {
    margin-bottom: 0px;
}
.tc-group label {
    color: #666;
    line-height: inherit;
    padding-bottom: 5px;
}
.tc-ctl-download-div
{
    padding-top: 10px;
}
.dropdown-content {
    background-color: transparent !important;
    width: auto;
}
#vedats {
    padding: 3px 10px 3px 10px !important;
    border-radius: 6px;
    width: calc(100% - 20px) !important;
    background-color: #fff;
    color: #333;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3) inset;
}
#ved_cac {
    padding-top: 0px;
    margin-top: 10px;
    background-color: #fff !important;
    overflow-y: auto !important;
    max-height: 300px !important;
}
#ved_cac:hover {
    overflow-y: scroll !important;
}
.tc-ctl-download-cnt {
    width: auto;
}
.tc-ctl h2 {
    background-color: transparent;
    color: #ffffff;
    color: #333;
    text-transform: none;
    cursor: pointer;
}
#measure > h2, #share > h2, #download > h2, #localitzar > h2, #legend > h2, #ovmapH2, #bms > h2, #toc > h2, #catalog > h2, #xdata > h2
{
    background-position: calc(100% - 10px) 10px, 0px 0px;
    background-repeat: no-repeat, no-repeat;
    background-size: 20px 20px, 38px 38px;
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
    padding-left: 35px;
    border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 1.1em;
    margin: 0px;
}
#xdata > h2 {
    background-image: url(img/mapaMenosN.png), url(img/mapaAddMapN.png);
    background-position: calc(100% - 10px) 10px, 0px 0px;
}
#xdata.tc-collapsed > h2 {
    background-image: url(img/mapaMasG.png), url(img/mapaAddMapG.png);
    background-color: rgba(0,0,0,0.05);
    background-position: calc(100% - 10px) 10px, 0px 0px;
}
#catalog > h2 {
    background-image: url(img/mapaMenosN.png), url(img/mapaListCapasN.png);
    background-position: calc(100% - 10px) 10px, 0px 0px;
}
#catalog.tc-collapsed > h2 {
    background-image: url(img/mapaMasG.png), url(img/mapaListCapasG.png);
    background-color: rgba(0,0,0,0.05);
    background-position: calc(100% - 10px) 10px, 0px 0px;
}
#toc > h2 {
    background-image: url(img/mapaMenosN.png), url(img/mapaUpMapN.png);
    background-position: calc(100% - 10px) 10px, 0px 0px;
}
#toc.tc-collapsed > h2 {
    background-image: url(img/mapaMasG.png), url(img/mapaUpMapG.png);
    background-color: rgba(0,0,0,0.05);
    background-position: calc(100% - 10px) 10px, 0px 0px;
}
#bms > h2 {
    background-image: url(img/mapaMenosN.png), url(img/mapaFonsN.png);
    background-position: calc(100% - 10px) 10px, 0px 0px;
}
#bms.tc-collapsed > h2 {
    background-image: url(img/mapaMasG.png), url(img/mapaFonsG.png);
    background-color: rgba(0,0,0,0.05);
    background-position: calc(100% - 10px) 10px, 0px 0px;
}
#measure > h2 {
    background-image: url(img/mapaMenosN.png), url(img/mapaPenN.png);
}
#measure.tc-collapsed > h2 {
    background-image: url(img/mapaMasG.png), url(img/mapaPenG.png);
    background-color: rgba(0,0,0,0.05);
}
#share > h2 {
    background-image: url(img/mapaMenosN.png), url(img/mapaShareN.png);
}
#share.tc-collapsed > h2 {
    background-image: url(img/mapaMasG.png), url(img/mapaShareG.png);
    background-color: rgba(0,0,0,0.05);
}
#download > h2 {
    background-image: url(img/mapaMenosN.png), url(img/mapaDownloadN.png);
}
#download.tc-collapsed > h2 {
    background-image: url(img/mapaMasG.png), url(img/mapaDownloadG.png);
    background-color: rgba(0,0,0,0.05);
}
#localitzar > h2 {
    background-image: url(img/mapaMenosN.png), url(img/mapaLocN.png);
}
#localitzar.tc-collapsed > h2 {
    background-image: url(img/mapaMasG.png), url(img/mapaLocG.png);
    background-color: rgba(0,0,0,0.05);
}
#ovmapH2 {
    background-image: none, url(img/mapaOvmapN.png);
    cursor: inherit;
}
#legend > h2 {
    background-image: none, url(img/mapaLeyendaN.png);
    cursor: inherit;
}
#legend.tc-collapsed > h2 {
    background-image: none, url(img/mapaLeyendaN.png);
}
#measure.tc-collapsed > h2, #share.tc-collapsed > h2, #download.tc-collapsed > h2, #localitzar.tc-collapsed > h2, #bms.tc-collapsed > h2, #toc.tc-collapsed > h2, #catalog.tc-collapsed > h2, #xdata.tc-collapsed > h2 {
    color: #666;
}
#legend.tc-collapsed > h2 {
    color: #000;
}
#measure > div, #share > div, #download > div, #localitzar > div, #bms > div, #toc > div, #catalog > div , #xdata > div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
#legend > div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
span.tc-beta {
    color: rgba(201, 219, 3, 0.8);
    color: #7A8500;
    display: none;
    padding-left: 6px;
    font-style: normal;
}
.tc-ctl input[type="color"] {
    height: 17px;
    width: 17px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: text-top;
}
.tc-ctl-draw-style {
    text-align: left;
}
.tc-ctl-draw-str-w-watch {
    height: 17px;
    width: 17px;
    margin-left: 0px;
    transform: rotate(-45deg);
    transform-origin: 45% 45%;
    margin-right: 5px;
}
.tc-textbox, .tc-combo {
    height: auto;
    box-shadow: none;
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3) inset;
    color: #000;
    padding: 5px;
    border: 0px;
}
.tc-ctl-sv-view .tc-ctl-sv-btn-close {
    right: 60px;
}
.tc-ctl-dmm-mod
{
    display: block;
}
.tc-ctl-dmm-cmd
{
    display: block;
    padding-top: 5px;
}
.tc-ctl-dmm .tc-ctl-mod > button {
    color: #666;
    width: 33%;
    border:0px;
    margin-left: 1px;
    text-indent: -1000vw;
    background-color: #fff;
    border: 1px solid #ccc;
}
.tc-ctl-dmm .tc-ctl-mod > button.tc-active {
    color: #7A8500;
    border:1px solid #7A8500;
}
.tc-ctl-dmm .tc-ctl-mod-btn-delete {
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
}
.tc-ctl-dmm .tc-ctl-mod-btn-text {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}
.tc-ctl-dmm .tc-ctl-mod > button:disabled, .tc-ctl-dmm-cmd > button:disabled {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #ccc;
}
.tc-ctl-dmm .tc-ctl-mod > button:first-child {
    margin-left: 0px;
}
.tc-ctl-dmm-cmd > button {
    color: #666;
    width: calc(50% - 1px);
    border:0px;
    margin-left: 1px;
    text-indent: -1000vw;
    background-color: #fff;
    border: 1px solid #ccc;
}
.tc-ctl-draw-tools .tc-ctl-btn {
    background-color: #fff;
    color:#7A8500 !important;
    box-shadow: 0px 0px 0px 1px #7A8500 inset;
}
.tc-ctl-draw-tools .tc-ctl-btn[disabled] {
    background-color: #eee;
    box-shadow: 0px 0px 0px 1px #ddd inset;
    color:#ccc !important;
}
.tc-ctl-draw-tools .tc-ctl-btn.tc-active {
    background-color: #7A8500 !important;
    color: #fff !important;
}
.tc-ctl-mod-style {
    text-align: left;
}
.tc-ctl-draw-tools > button::after, .tc-ctl-mod > button::after, .tc-ctl-dmm-cmd > button::after {
    position: absolute;
    font-size: 1em;
    height: 100%;
    width: 100%;
    text-align: center;
    text-indent: 0;
    line-height: 2em;
    font-family: 'FontAwesome';
    left: 0;
    top: 0;
}
.tc-ctl-mod-btn-select::after {
    content: '\f25a';
}
.tc-ctl-mod-btn-delete::after {
    content: '\f12d';
}
.tc-ctl-mod-btn-text::after {
    content: 'A';
}
.tc-ctl-dmm-cmd button.tc-ctl-dmm-btn-clr::after {
    content: '\f1f8';
}
.tc-ctl-dmm-cmd button.tc-ctl-dmm-btn-dl::after {
    content: '\f019';
}
.tc-ctl-dmm-dialog-dl button {
    width: 20%;
}
.tc-ctl-share .tc-ctl-share-url-box .tc-textbox {
    background-color: #fff;
    color: #000;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3) inset;
}
.tc-ctl-meas-select input[type=radio] ~ span, .tc-ctl-share-select input[type=radio] ~ span, .tc-ctl-tctr-select input[type=radio] ~ span {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}
.tc-ctl-meas-select input[type=radio]:checked ~ span, .tc-ctl-share-select input[type=radio]:checked ~ span, .tc-ctl-tctr-select input[type=radio]:checked ~ span {
    border-color: #7A8500;
    color: #7A8500;
    background-color: #fff;
}
.tc-ctl-meas-select label:first-child input[type=radio]:checked ~ span, .tc-ctl-share-select label:first-child input[type=radio]:checked ~ span, .tc-ctl-tctr-select label.tc-ctl-tctr-tab:first-child input[type=radio]:checked ~ span {
    border-bottom-left-radius: 0.3em;
    border-bottom-color: #7A8500;
}
.tc-ctl-meas-select label:last-child input[type=radio]:checked ~ span, .tc-ctl-share-select label:last-child input[type=radio]:checked ~ span, .tc-ctl-tctr-select label.tc-ctl-tctr-tab:last-child input[type=radio]:checked ~ span {
    border-bottom-right-radius: 0.3em;
    border-bottom-color: #7A8500;
}
.tc-ctl-btn.tc-ctl-draw-btn-new.tc-active {
    background-color: #7A8500;
}
.tc-ctl-draw .tc-ctl-draw-tools > button {
    font-size: 0.8em;
    border: 0;
}
.tc-ctl-draw-tools > button {
    border: 0;
}
ul.tc-ctl-legend-branch {
    font-size: 1em;
}
div.tc-ctl-legend-tree li.tc-ctl-legend-empty {
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
}
.tc-button {
    border: 1px solid #7A8500;
    background-color: #7A8500;
}
li.tc-ctl-legend-node {
    margin-top: 10px;
    padding: 0px;
    border: 0px;
    background-color: #fff;
    border-radius: 0.3em;
    font-size: 0.85em;
    color: #000000;
}
.tc-ctl-legend-title
{
    padding: 5px;
}
.tc-ctl-legend-watch img {
    max-width: 100%;
    margin: 0px;
}
#search
{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9998;
    transition: left 200ms;
    padding: 1px;
    padding-left: 160px;
    background-image: url(img/logoTrans2.png);
    background-position: 5px 5px;
    background-repeat: no-repeat;
    background-size: auto 30px;
    font-size: 0.9em;
}
#search.tc-ctl.tc-ctl-search.search-left-collapsed
{
    left: 340px;
}
#search > h2
{
    display: none;
}
.tc-ctl-search-list {
    border: 0px;
    border-radius: 4px;
    width: 288px;
}
.tc-ctl-search-list a b {
    color: #7A8500;
}
.tc-ctl-search-content {
    background-color: transparent;
    border-radius: 0px;
}
.tc-ctl-search-txt {
    width: calc(100% - 32px);
    height: 32px;
    border: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 0 0 10px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.6) inset;
}
.tc-ctl-btn.tc-ctl-search-btn {
    width: 32px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    line-height: 32px;
    height: 32px;
    padding: 0px;
    background-image: url(img/icoBusc.png);
    background-position: 2px 1px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-color: rgba(0,0,0,0.6);
}
#links
{
    text-align: center;
    padding-bottom: 0px;
    position: fixed;
    background-color: rgba(255,255,255,0.8);
    z-index: 99;
    font-size: 0.7em;
    top: 60px;
    left: 418px;
    transition: all 200ms;
}
#links.links-collapsed {
    left: 738px;
}
.language-links > a
{
    display: inline-block;
    width: 21px;
    height: 16px;
    text-decoration: none;
    color: #999;
}
.language-links > a.tc-active
{
    color: #000;
}
.language-links > a:hover
{
    background-color: #7A8500;
    color: #fff;
}
.tc-ctl-load-dots {
    background-color: #7A8500;
}
.tc-group {
    margin: 0px;
}
.tc-ctl-share div.ga-share-icons {
    margin: 0px 0px 0px 0px;
}
.tc-ctl-share .ga-share-icon
{
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-right: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
.tc-ctl-share .ga-share-icon i::before {
    content: "";
}
.share-fb
{
    background-image: url(img/icoFace.png);
    background-color: #38529A;
}
.share-email
{
    background-image: url(img/icoMail.png);
    background-color: #7A8500;
}
.qr-generator
{
    background-image: url(img/icoQr.png);
    background-color: #DC3FFF;
}
.share-twitter
{
    background-image: url(img/icoTwitter.png);
    background-color: #55ACEE;
}
.share-star
{
    background-image: url(img/icoStar.png);
    background-color: #FF8422;
}

ul.tc-ctl-bms-branch {
    list-style-type: none;
    margin: 0.5em 0 0 0;
    padding: 0;
}
ul.tc-ctl-bms-branch > li {
    height: 75px;
    position: relative;
}
.tc-ctl-bms-node label {
    position: absolute;
    width: auto;
    height: auto;
    border: 0px;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-size: cover;
}
.tc-ctl-bms-node label span {
    width: auto;
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: #000;
}
#bms .tc-ctl-bms-node input[type=radio] ~ span {
    width: auto;
}
.tc-ctl-bms-node input[type=radio]:checked ~ span {
    border-color: rgba(201, 219, 3, 1);
}
.tc-ctl-wlm ul {
    margin-top: 5px;
}
.tc-ctl-wlm li.tc-ctl-wlm-elm {
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    color: #000000;
    transition: all 200ms;
    border-top: 1px dotted #ccc;
    padding: 5px;
}
.tc-ctl-wlm li.tc-ctl-wlm-elm:hover {
    background-color: #fff;
}
.tc-ctl-wlm li.tc-ctl-wlm-elm:first-child {
    border-top: 0px dotted #ccc;
}
.tc-ctl-wlm .tc-ctl-wlm-lyr {
    font-size: 0.75em;
    padding-bottom: 5px;
}
.tc-ctl-wlm .tc-ctl-wlm-n {
    background-color: #7A8500;
}
.tc-ctl-wlm h2 button, .tc-ctl-lcat h2 button.tc-ctl-lcat-btn-search::after {
    float: inherit;
    margin-left: 10px;
    position: inherit;
    font-size: 1em;
}
.tc-ctl-wlm.tc-collapsed h2 button, .tc-ctl-lcat.tc-collapsed h2 button.tc-ctl-lcat-btn-search::after {
    color: #666;
}
.tc-ctl-wlm h2 button, .tc-ctl-lcat h2 button.tc-ctl-lcat-btn-search::after {
    color: #000;
}
.tc-ctl-lcat h2 button {
    float: inherit;
    top:0px;
}
.tc-ctl-wlm input[type="range"] {
    background-color: #999;
}
.tc-ctl-wlm .tc-ctl-wlm-empty {
    padding-left: 0px;
}
.tc-ctl-wlm .tc-ctl-wlm-btn-info {
    vertical-align: middle !important;
    color: rgb(59, 65, 0);
}
.tc-ctl-wlm .tc-ctl-wlm-dd, .tc-ctl-wlm .tc-ctl-wlm-del {
    height: 24px;
    vertical-align: middle !important;
}
.tc-ctl-wlm .tc-ctl-wlm-btn-info.tc-checked {
    color: #7A8500;
}
.tc-ctl-wlm .tc-ctl-wlm-type {
    color: rgb(59, 65, 0);
}
.tc-ctl-lcat h2 button.tc-ctl-lcat-btn-tree {
    background-image: url(img/tree-list.svg)
}
.tc-ctl-lcat-tree {
    color: #000;
}
.tc-ctl-xwms-cnt {
    width: 100%;
    padding-bottom: 5px;
}
.tc-ctl-xwms select {
    padding: 4px;
    width: 25%;
}
.tc-ctl-xwms input {
    width: 75%;
    padding-left: 7px;
}
/*#arbol {
}
#arbol > ul {
    padding: 0px;
    margin: 0px;
    margin-bottom: 3px;
    background-color: #666;
    background-image: none;
    color: #fff;
}
#arbol > ul.tc-collapsed {
    background-image: url(img/mapaMenos.png);
}
#arbol > ul > li {
    padding: 0px;
    margin: 0px;
    background-image: none;
    background-color: #666;
    background-image: url(img/mapaMenos.png);
    background-position: 0px 4px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
#arbol > ul > li.tc-collapsed {
    background-image: url(img/mapaMas.png);
}
#arbol > ul > li > span {
    color: #fff !important;
    background: none;
    line-height: 2em !important;
    margin-left: 20px;
}
#arbol > ul > li  ul {
    background-color: #fff;
    color: #000;
    background-image: none;
    padding-left: 5px;
}
#arbol > ul > li  ul li{
    background-image: url(img/mapaMenosN.png);
    background-position: 0px 5px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    line-height: normal !important;
    padding-bottom: 7px;
    padding-top: 7px;
    position: relative;
}
#arbol > ul > li  ul li.tc-collapsed{
    background-image: url(img/mapaMasN.png);
}
#arbol > ul > li  ul li:hover, #arbol > ul > li  ul li:hover span{
    background-color: #fff !important;;
}*/
li.tc-ctl-lcat-node > span {
    padding-right: 20px;
}
li.tc-ctl-lcat-node > button.tc-ctl-lcat-btn-info {
    position: absolute;
    right: 5px;
    top: 9px;
}
.tc-ctl-lcat h2 button.tc-ctl-lcat-btn-tree {
    top: -5px;
    margin-left: 10px;
}
.tc-ctl-popup {
    background-color: rgba(255,255,255,0.9);
    filter: drop-shadow(0 0px 3px rgba(0,0,0,0.5));
    border-radius: 6px;
    border: 0px solid #ccc;
}
.tc-ctl-lcat-search li h5:hover {
    color: #7A8500;
}
.tc-ctl-lcat-search .tc-group {
    margin-bottom: 10px;
}
.tc-ctl-finfo .tc-ctl-finfo-layer-n {
    background-color: #7A8500;
}
.tc-ctl-finfo ul.tc-ctl-finfo-features li.tc-checked table {
    border: 0.2em #7A8500 solid;
}
.tc-ctl-finfo-tools button {
    color: #7A8500;
}
.tc-ctl-finfo-tools button:hover {
    background-color: #7A8500;

}
#arbol {
    padding: 0px !important;
    max-height: inherit;
}
#arbol > div > img {
    margin-bottom: 5px;
}
#arbol ul {
    background: none;
    margin: 0px;
    padding: 0px;
    line-height: inherit;
}
#arbol li {
    background: none;
    padding: 0px;
    margin: 0px;
    line-height: inherit !important;
    padding: 0px;
    background-image: url(img/arbre_menys.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    position: relative;
}
#arbol li.tc-collapsed {
    background-image: url(img/arbre_mes.png);
}
#arbol span {
    background-color: transparent;
    color: #000;
    display: inline-block;
    padding: 8px;
    padding-right: 32px;
}
#arbol span.tc-selectable:hover {
    text-shadow: 0px 0px 1px #EDFF25;
}
#arbol > ul > li {
    border-bottom: 1px solid #ddd;
    background-position: 9px 7px;
    background-color: #fff;
}
#arbol > ul > li > span {
    font-weight: bold;
    margin-left: 27px;
}
#arbol > ul > li.tc-collapsed > span {
    font-weight: normal;
}
#arbol > ul > li > ul > li {
    border-top: 1px solid #d5d5d5;
    background-position: 24px 7px;
    background-color: #f5f5f5;
}
#arbol > ul > li > ul > li > span {
    margin-left: 42px;
}
#arbol > ul > li > ul > li > ul > li {
    border-top: 1px solid #ccc;
    background-position: 39px 7px;
    background-color: #eee;
}
#arbol > ul > li > ul > li > ul > li > span {
    margin-left: 57px;
}
#arbol > ul > li > ul > li > ul > li > ul > li {
    border-top: 1px solid #c5c5c5;
    background-position: 54px 7px;
    background-color: #e5e5e5;
}
#arbol > ul > li > ul > li > ul > li > ul > li > span {
    margin-left: 72px;
}
#arbol > ul > li > ul > li > ul > li > ul > li > ul > li {
    border-top: 1px solid #bbb;
    background-position: 69px 7px;
    background-color: #ddd;
}
#arbol > ul > li > ul > li > ul > li > ul > li > ul > li > span {
    margin-left: 87px;
}
#arbol > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li {
    border-top: 1px solid #b5b5b5;
    background-position: 84px 7px;
    background-color: #d5d5d5;
}
#arbol > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > span {
    margin-left: 102px;
}
/*tc-ctl-lcat-leaf tc-checked*/
#arbol li.tc-ctl-lcat-leaf {
    background-image: url(img/mapaCheq.png);
}
#arbol li.tc-ctl-lcat-leaf.tc-checked {
    background-image: url(img/mapaCheq2.png);
}
#arbol li.tc-ctl-lcat-leaf.tc-checked > span {
    text-shadow: 0px 0px 1px #EDFF25;
}
#arbol li.tc-ctl-lcat-node.tc-checked > span {
    text-shadow: 0px 0px 1px #EDFF25;
}
#arbol li.tc-ctl-lcat-leaf > span.tc-selectable:hover {
    background-color: inherit !important;
    text-shadow: 0px 0px 1px #EDFF25;
}
#arbol li.tc-ctl-lcat-leaf:hover > span.tc-selectable {
    background-color: inherit !important;
    text-shadow: 0px 0px 1px #EDFF25;
}
#arbol li.tc-ctl-lcat-leaf.tc-ctl-lcat-leaf:hover {
    background-color: inherit !important;
    text-shadow: 0px 0px 1px #EDFF25;
}
.tc-alert {
    border-radius: 4px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}
.tc-alert p {
    margin: 0px;
}
.tc-map.tc-collapsed #tools-panel, .tc-map.tc-collapsed #silme-panel, .tc-map.tc-collapsed #search, .tc-map.tc-collapsed #links {
    display: none;
}
@media (max-width: 760px)
{
    #search {
        right: 20px;
        width: auto;
        z-index: 99999;
        padding-left: 36px;
    }
    .tc-ctl-search-list {
        width: 100%;
    }
    .tools-panel > h1 {
        top: 84px;
    }
    #search.tc-ctl.tc-ctl-search.search-left-collapsed {
        left: 20px;
    }
    .panel-content {
        top: 84px;
    }
    .panel-content
    {
        top: 84px;
        width: auto;
    }
    .left-opacity, .right-opacity {
        opacity: 0;
    }
    .left-panel > .panel-content
    {
        left: 0px;
        right: 80px;
        width: auto;
    }
    .left-collapsed > .panel-content
    {
        left: -200px;
        right: auto;
        width: 200px;
    }
    .left-panel > h1, .left-panel .tc-ctl.tc-ctl-nav, .left-panel .tc-ctl-sv-btn, .left-panel .tc-ctl-be-btn, .left-panel .tc-ctl-fscreen {
        left: auto;
        right: 20px;
    }
    .left-collapsed > h1, .left-collapsed .tc-ctl.tc-ctl-nav, .left-collapsed .tc-ctl-sv-btn, .left-collapsed .tc-ctl-be-btn, .left-collapsed .tc-ctl-fscreen {
        left: 20px;
        right: auto;
    }
    .left-panel .tc-ctl-sv {
        left: auto;
        right: 0px;
    }
    .left-collapsed .tc-ctl-sv {
        left: 0px;
        right: auto;
    }
    .right-panel > .panel-content
    {
        left: 80px;
        right: 0px;
        width: auto;
    }
    .right-collapsed > .panel-content
    {
        left: auto;
        right: -200px;
        width: 200px;
    }
    .right-panel > h1{
        right: auto;
        left: 20px;
    }
    .right-collapsed > h1{
        right: 20px;
        left: auto;
    }
    #links
    {
        left: auto;
        right: 20px;
    }
    #links.links-collapsed {
        left: auto;
        right: 20px;
    }
}
@media (min-width: 760px)
{
    #search
    {
        right: auto;
        width: 300px;
        z-index: 9998;
        padding-left: 160px;
    }
    .tc-ctl-search-list {
        width: 288px;
    }
    .right-panel > h1 {
        top: 80px;
    }
    .right-collapsed > h1 {
        top: 20px;
    }
    #search.tc-ctl.tc-ctl-search.search-left-collapsed {
        left: 340px;
    }
    .panel-content
    {
        top: 80px;
        width: 320px;
    }
    .left-panel > .panel-content
    {
        left: 0px;
    }
    .left-collapsed > .panel-content
    {
        left: -340px;
    }
    .left-panel > h1, .left-panel .tc-ctl.tc-ctl-nav, .left-panel .tc-ctl-sv-btn, .left-panel .tc-ctl-be-btn, .left-panel .tc-ctl-fscreen {
        left: 340px;
        right: auto;
    }
    .left-collapsed > h1, .left-collapsed .tc-ctl.tc-ctl-nav, .left-collapsed .tc-ctl-sv-btn, .left-collapsed .tc-ctl-be-btn, .left-collapsed .tc-ctl-fscreen {
        left: 20px;
        right: auto;
    }
    .tc-ctl-search-list {
        opacity: 0.2;
    }
    .tc-ctl-search-content:hover .tc-ctl-search-list {
        opacity: 1;;
    }
    #links
    {
        left: 418px;
    }
    #links.links-collapsed {
        left: 738px;
    }
}
@media (min-width: 930px)
{
    .right-panel > h1 {
        top: 20px;
    }
    .right-collapsed > h1 {
        top: 20px;
    }
    .panel-content
    {
        top: 20px;
    }
}